.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 240, 230);
  min-height: 80vh;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
