@media (max-width: 768px) {
  .login-container {
    width: 100%;
    max-width: 400px;
  }
}

.login-container {
  width: 400px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
